
iframe {
    width: 1px;
    min-width: 100%;
    *width: 100%;
    /* width: 100%; */
     height: 100%;
     border: none;
 }
iframe.web {
    overflow:hidden;
    min-width: 100%;
    width: 100vh;
    height: 100vh;
    border: none;
}
