<iframe *ngIf="!isIphone" 
[ngClass]="{'web':'!isIphone'}" [src]="indianHeritageUrl | safe" id="myiframe"></iframe>


<iframe *ngIf="isIphone"  src="https://www.indiaheritagewalkfestival.com" scrolling="no" id="myiframe"></iframe>