/*--------------------------Banner--------------------------*/
.main-banner {
    color: #ffffff;
    margin-top: 4px;
    position: relative;
    background: url("../../../assets/images/main-banner.jpg") no-repeat top left / cover;
    min-height: 370px;
}
.set-disable{
    pointer-events: none;
}
.main-banner .banner-caption {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    padding: 10px 10px 30px;
    position: absolute;
    text-align: center;
    border-radius: 4px;
    text-shadow: none;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.main-banner .banner-caption h1 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: none;
    line-height: normal;
    letter-spacing: 0.9px;
}
.main-banner .counter {
    padding: 0;
    margin: 25px 0 0;
    list-style: none;
}
.main-banner .counter li {
    float: left;
    width: 33.33%;
    font-size: 16px;
    color: #ffffff;
    line-height: normal;
    position: relative;
    letter-spacing: 2px;
    display: inline-block;
}
.main-banner .counter span {
    display: block;
    font-size: 18px;
    line-height: 84px;
    font-weight: bold;
    margin-bottom: 12px;
    letter-spacing: 0.9px;
    background: url("../../../assets/images/process-circle.png") no-repeat center center / 84px;
}
/*.main-banner .counter span {
    top: 50%;
    width: 82px;
    height: 82px;
    display: block;
    position: absolute;
    margin-bottom: 30px;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);    
}
.main-banner .counter span:before {
    top: 0;    
    left: 0;
    width: 82px;
    height: 82px;
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ffffff;
}
.main-banner .counter span:after {
    top: 6px;    
    left: 6px;
    width: 70px;
    height: 70px;
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ffffff;
}*/
@media (max-width: 1199px) {
    .main-banner .banner-caption {
        width: 97%;
    }
    .main-banner .banner-caption h1 {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .main-banner {
        min-height: 250px;
    }
    .main-banner .banner-caption {
        width: 100%;
        transform: none;
        position: static;
        padding: 10px 0 0;
    }
    .main-banner .banner-caption h1 {
        font-size: 18px;
        /* color: #333333; */
    }
    .main-banner .banner-caption p {
        font-size: 16px;
        /* color: #333333; */
    }
    .main-banner .banner-caption .row {
        /* background: #18afc4; */
    }
    .main-banner .counter {
        padding: 0;
        margin: 20px 0;
        list-style: none;
    }
    .main-banner .counter li {
        font-size: 15px;
    }
    .main-banner .counter span {
        font-size: 14px;
        line-height: 65px;
        letter-spacing: 0;
        margin-bottom: 8px;
        background: url("../../../assets/images/process-circle.png") no-repeat center center / 65px;
    }
}
@media (max-width: 480px) {
    .main-banner .banner-caption p {
        font-size: 14px;
    }
    .main-banner {
        min-height: 230px;
    }
}
/*-------------------------About-----------------------------*/
.about {
	font-size: 20px;
	line-height: 1.5;
	padding: 50px 0 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: rgba(51, 51, 51, 0.8);
}
@media (max-width: 767px) {
    .about {
        font-size: 16px;
        padding: 20px 0;
    }
}
/*------------------------Trending---------------------------*/
.trending {
    padding: 20px 0 70px;
}
.trending .trending-box {
    text-align: left;
    margin-top: 30px;
    border-radius: 5px;
    background: #ffffff;
    max-width: 100%;
    position: relative;
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 1s;
    border: 1px solid #d5e3e3;
    transition: all 0.5s ease 0s;
   -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
   -moz-transition: all 0.5s ease 0s;
   -webkit-transition: all 0.5s ease 0s;
}
.trending .trending-box:hover {
    transform: scale(1.08);
    -o-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    box-shadow: 0 2px 5px 1px #cad5d5;
}
.trending .heading1 a {
    color: #333333;
    text-decoration: none;
}
.trending .heading1 a:hover {
    color: #18afc4;
}
.trending .trending-box img {
    border-radius: 5px 5px 0 0;
}
.trending .trending-box .guide-name {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    line-height: normal;
    position: relative;
}
.trending .trending-box .guide-name .rating {
    display: block;
    margin-top: 6px;
}
.trending .trending-box .guide-name .amount {
    top: 8px;
    right: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    padding: 4px 20px;
    position: absolute;
    border-radius: 2px;
    background: #38b963;
    letter-spacing: 0.3px;    
}
.trending .trending-box .guide-name i {
    font-size: 19px;
    color: #fed953;
    margin-right: 6px;
}
.trending .trending-inner {
    padding: 10px 20px;
}
.trending .view-all {
    margin-top: 35px;
    text-align: center;
}
.trending .view-all a {
    text-decoration: underline;
    color: #18afc4;
}
.trending .view-all a:hover {
    text-decoration: none;
}
@media (max-width: 991px) {
    .trending .trending-inner {
        padding: 0 10px 10px;
    }
    .trending .trending-box .guide-name i {
        font-size: 16px;
        margin-right: 4px;
    }
    .trending .trending-box .guide-name .amount {
        font-size: 14px;
        padding: 4px 10px;
    }
}
@media (max-width: 767px) {
    .trending {
        padding: 20px 0;
    }
    .trending .trending-box {
        width: 90%;
        margin: 15px auto 30px;
    }
    .trending .trending-box:hover {
        transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        box-shadow: 0 2px 5px #cad5d5;
    }
    .trending .view-all {
        margin: 0px 0 20px;
    }
}
@media (max-width: 480px) {
    .trending .trending-box {
        width: 90%;
    }
}
/*----------------------Download App-------------------------*/
.download-app {
    background: #ffffff;
    box-shadow: 0 2px 5px 1px #cad5d5;
}
.download-app .container {
    width: 100%;
}
.download-app .download-app-left {
    padding-left: 0;
}
.download-app .download-app-box {
    padding: 30px;
}
.download-app .download-app-box ul {
    padding-left: 0;
    margin: 0 0 25px;
    list-style: none;
}
.download-app .download-app-box ul li {
    font-size: 20px;
    color: rgba(51, 51, 51, 0.8);
    font-weight: normal;
    line-height: 1.3;    
    padding: 10px 0;
}
.download-app .download-app-box ul li img {
    width: 35px;
    margin-right: 5px;
}
.download-app .download-app-box h3 {
    font-size: 20px;
    color: #333333;
    font-weight: 300;
    line-height: normal;
}
.download-app .download-app-box .app-icon {
    margin-top: 25px;
}
.download-app .download-app-box .app-icon img {
    height: 47px;
}
@media (max-width: 1199px) {
    .download-app .download-app-box {
        padding: 10px 0;
    }
    .download-app .download-app-box ul {
        margin: 0 0 15px;
    }
    .download-app .download-app-box ul li {
        font-size: 19px;
        padding: 8px 0;
    }
    .download-app .download-app-box ul li img {
        width: 32px;
    }
    .download-app .download-app-box h3 {
        font-size: 19px;
    }
    .download-app .download-app-box .app-icon {
        margin-top: 20px;
    }
    .download-app .download-app-box .app-icon img {
        height: 40px;
    }
}
@media (max-width: 991px) {
    .download-app .download-app-box {
        padding: 0;
    }
    .download-app .download-app-box ul {
        margin: 0 0 10px;
    }
    .download-app .download-app-box ul li {
        font-size: 16px;
        padding: 5px 0;
    }
    .download-app .download-app-box ul li img {
        width: 26px;
    }
    .download-app .download-app-box h3 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    .download-app .download-app-box .app-icon {
        margin-top: 15px;
    }
    .download-app .download-app-box .app-icon img {
        height: 32px;
    }
}
@media (max-width: 767px) {
    .download-app{
        margin-top: 10px;
        padding-bottom: 14px;
    }
    .download-app .download-app-box {
        padding: 0 0 15px;
    }
    .download-app .download-app-left {
        padding: 0;
    }
    .download-app .download-app-box ul{
        margin: 0 0 20px;
    }
    .download-app .download-app-box ul li {
        font-size: 15px;
    }
    .download-app .download-app-box h3 {
        font-size: 16px;
        margin: 0 0 10px;
    }
}
/*---------------------Why Choose Us-------------------------*/
.why-choose-us {
    padding: 40px 0;
    text-align: center;
}
.why-choose-us p {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    font-weight: normal;
    line-height: normal;
}
.why-choose-us img {
    height: 90px;
    margin: 20px 0 10px;
}
@media (max-width: 991px) {
    .why-choose-us {
        padding: 30px 0 20px;
    }
    .why-choose-us img {
        height: 80px;
        margin: 10px 0;
    }
    .why-choose-us p {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .why-choose-us img {
        height: 70px;
        margin: 20px 0 -10px;
    }
    .why-choose-us p {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .why-choose-us img {
        height: 55px;
    }
    .why-choose-us p {
        font-size: 15px;
    }
}
/*------------------------Contact----------------------------*/
.contact-form {
	padding: 35px 0;
	margin: 30px 0 95px;
	background: url("../../../assets/images/contact-bg.jpg") no-repeat center center / cover;
}
.contact-form .form {
	border-radius: 11px;
	padding: 5px 35px 25px;
	background-color: #ffffff;
}
.contact-form .main_heading {
	margin-bottom: 0;
	padding-bottom: 0;
}
.contact-form .main_heading::after {
	display: none;
}
.contact-form #msg_span {
	left: 0;
	right: 0;
	top: -35px;
	font-size: 12px;
	color: #008000;
	line-height: 1.3;
	position: absolute;
}
.contact-form .form-group {
	font-style: normal;
	position: relative;
	margin-bottom: 16px;
}
.contact-form label.error {
	font-size: 12px !important;
	color: #f72f2f !important;
	margin-bottom: 0 !important;
	letter-spacing: 0;
	bottom: -16px;
	left: 0;
	position: absolute;
	font-weight: normal;
}
.contact-form .form-group label {
	font-size: 16px;
	color: #333333;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 8px;
}
.contact-form .form-control {
	font-size: 14px;
	color: #333333;
	height: 32px;
	padding: 0 11px;
	box-shadow: none;
	border-radius: 4px;
	background: #ffffff;
	appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	text-decoration: none !important;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.contact-form .form-control::-webkit-input-placeholder {
	color: rgba(51, 51, 51, 0.4);
}
.contact-form .form-control:-moz-placeholder {/* FF 4-18 */   
	color: rgba(51, 51, 51, 0.4);
}
.contact-form .form-control::-moz-placeholder {/* FF 19+ */ 
	color: rgba(51, 51, 51, 0.4);
}
.contact-form .form-control:-ms-input-placeholder {/* IE 10+ */
	color: rgba(51, 51, 51, 0.4);
}
.contact-form textarea.form-control {
	resize: none;
	min-height: 83px;
	padding: 8px 13px;
}
.contact-form .form-control:focus {
	outline: none !important;
	box-shadow: none;
}
.contact-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	line-height: normal;
	border: none;
	margin-top: 10px;
	padding: 9px 20px;
	border-radius: 4px;
	background: #18afc4;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	width: 100%;
	max-width: 45%;
	display: block;
	border: 1px solid #18afc4;
}
.contact-btn:focus {
	color: #ffffff;
}
.contact-btn:hover {
	color: #18afc4;
	background: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
	.contact-btn {
		max-width: 50%;
	}
}
@media (max-width: 767px) {
	.contact-form {                
		padding: 10px 0 40px;
		margin: 20px 0 30px;
	}
	.contact-form .form {
		padding: 20px;
	}
	.form {
		margin-top: 30px;
	}
	.contact-form .form-control {
		height: 30px;
		line-height: 30px;
	}
	.contact-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 30px;
	}
	.contact-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 30px;
	}
	.contact-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 30px;
	}
	.contact-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 30px;
	}
	.contact-btn {
		width: 45%;
		max-width: 100%;
	}
	.contact-form textarea.form-control {
		min-height: 80px;
	}
	.contact-form .form-group {
		margin-bottom: 14px;
	}
	.contact-form label.error {
		font-size: 11px !important;
		bottom: -17px;
	}
	.contact-form .form-group label {
		font-size: 15px;
		margin-bottom: 6px;
	}
}
@media (max-width: 480px) {
	.contact-form .form {
		padding: 15px;
	}
	.contact-form .form-control {
		font-size: 13px;
		height: 28px;
		line-height: 28px;
	}
	.contact-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 28px;
	}
	.contact-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 28px;
	}
	.contact-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 28px;
	}
	.contact-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 28px;
	}
	.contact-form  textarea.form-control {
		padding: 5px 10px;
	}
	.contact-form .form-group label {
		font-size: 14px;
		margin-bottom: 6px;
	}
	.contact-btn {
		font-size: 16px;
		color: #ffffff;
		line-height: 24px;
		padding: 4px 15px;
		width: auto;
		max-width: none;
		margin: 30px auto 20px;
	}
}

/*--------------------------Media---------------------------*/
.media-list {
    padding: 40px 0;
    background: #ffffff;
}
.media-list ::ng-deep .slick-list {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.media-list .slick-slide {
    float: left;
    height: 100%;
    display: none;
    min-height: 1px;
    text-align: center;
}
.media-list .slick-slide img {
    height: 40px;
    opacity: 0.7;
    transition: all 0.5s ease 0s;
   -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
   -moz-transition: all 0.5s ease 0s;
   -webkit-transition: all 0.5s ease 0s;
}
.media-list .slick-slide img:hover {
    opacity: 1;
}
.media-list .slick-slider {
    position: relative;
}
.media-list .slick-initialized .slick-slide {
    display: block;
}
@media (max-width: 991px) {
    .media-list .slick-slide {
        float: left;
        height: 100%;
        display: none;
        min-height: 1px;
    }
}
@media (max-width: 480px) {
    .media-list {
        padding: 15px 0;
    }
    .media-list .slick-slide {
        margin: 0 10px;
    }
}
/*inner css*/

.captcha_img {
	margin: 0 0 10px;
	border: 1px solid #ccc;
}
.captcha_input {
	border: 1px solid #ccc;
}
.enquiry_form.form-horizontal .control-label {
	text-align: left;
}
.btn-1 {
	font-size:17px;
	color:#fff;
	padding:3px 10px;
	background-image: -webkit-gradient(linear, 100% top, 100% bottom, from(rgba(58, 181, 227, 1)), to(rgba(29, 160, 209, 1)));
	background-image: -webkit-linear-gradient(top, color-stop(rgba(58, 181, 227, 1) 100%), color-stop(rgba(29, 160, 209, 1) 100%));
	background-image: -moz-linear-gradient(top, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803ab5e3', endColorstr='#001da0d1', GradientType=1);
}
.map .img-responsive {
	margin:0;
}
.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active, .open .dropdown-toggle.btn-1 {
	color: #ffffff;
	border-color: #1da0d1;
	background-color: #3ab5e3;
}