<section class="trending text-center">
  <div class="container">
    <h2 class="main_heading">Trending Destinations</h2>
    <div class="row">
      <div class="col-sm-4" *ngFor = "let item of trendingData">
        <div class="trending-box">
          <a><img [src]="item.package_image" alt="Trending Destinations" class="img-responsive"></a>
          <div class="trending-inner">
            <h3 class="heading1"><a>{{item.tour_name}}</a></h3>
            <p class="guide-name">By {{(item.guide_name.length>20)? (item.guide_name | slice:0:15)+'...':(item.guide_name) }}
              <span class="rating">
                <i *ngFor="let rating of [1,2,3,4,5]" [ngClass]="item.guide_rating >= rating?'fa fa-star':'fa fa-star-o'" aria-hidden="true"></i>
                <!-- <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i> -->
              </span><span class="amount">&#8377; {{item.guide_charges}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center load-more-button">
      <a *ngIf="trendingData && totalNumOfRecords > trendingData.length" [ngClass] = "{'setDisable':buttonDisable}" class="btn button3" (click)="loadMoreDestinations()">Load More...</a>
    </div>
  </div>
</section>