<div class="bread-crumb">
  <div class="container" *ngIf="guideDetail">
    <a routerLink="/">Home</a> > <a routerLink="/tour-guides">Tour Guide List</a> > <span class="selected">{{guideDetail.name}}</span>
  </div>
</div>
<div class="combo-banner slider">
  <div class="slide" *ngFor = "let banner of packageBanner"> 
    <img [src]="banner" alt="Banner 1" class="img-responsive">
  </div>
</div>
<section class="guide-details" *ngIf="guideDetail">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 guide-box">
        <div class="guide-pic slider">
          <div class="slide"> <img [src]="guideDetail.image_url" alt="Ravi Sharma" class="img-responsive"> </div>
        </div>
      </div>
      <div class="col-xs-10 guide-box">
        <h1 class="heading5">{{guideDetail.name}}&nbsp; 
          <i *ngFor="let rating of [1,2,3,4,5]" [ngClass]= "rating <= guideDetail.guide_rating ? 'fa fa-star rated':'fa fa-star-o'" aria-hidden="true"></i> 
          <span>{{guideDetail.address.city}}, {{guideDetail.address.country}}</span>
        </h1>
        <a class="btn button1" data-target="#DownloadApp" data-toggle="modal" data-dismiss="modal" >Book Now</a></div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-8 guide-box">
        <div class="guide-inner-box">
          <h2 class="heading5">About Me</h2>
          <span innerHTML="{{(guideDetail.about_me.length > expectedLength ) ? (guideDetail.about_me | slice:0:expectedLength)+'...':(guideDetail.about_me)}}"></span>
            <a *ngIf="guideDetail.about_me.length >= expectedLength" class="add-cursor-pointer" 
            (click)="readMoreClick(guideDetail.about_me, 'about_me')">{{readTypeHandle}}</a> 
        </div>
        <div class="guide-inner-box">
          <h2 class="heading5">Itinerary</h2>
          <span [innerHTML]="(guidePackageDetail.itinerary.length > expectedLengthForItinery) ? (guidePackageDetail.itinerary | slice:0:expectedLengthForItinery)+'...':(guidePackageDetail.itinerary)"></span> 
            <a *ngIf="guidePackageDetail.itinerary.length >= expectedLengthForItinery" class="add-cursor-pointer" 
              (click)="readMoreClick(guidePackageDetail.itinerary,'itinerary')">{{readTypeHandleForIntinery}}</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 guide-box">
        <div class="guide-right-box clearfix">
          <div class="col-xs-12">
            <h3><span>Experience</span>{{guideDetail.experience_years}} Yrs {{guideDetail.experience_months}} Months</h3>
          </div>
          <div class="col-xs-6">
            <h3><span>Gender</span> {{guideDetail.gender | titlecase}}</h3>
          </div>
          <div class="col-xs-6">
            <h3><span>Age</span> {{guideDetail.age}} Yrs</h3>
          </div>
        </div>
        <div class="guide-right-box clearfix">
          <div class="col-xs-12">
            <h3><span>Tour</span> {{guidePackageDetail.tour_name}}</h3>
          </div>
          <div class="col-xs-6">
            <h3><span>Charge</span> ₹ {{guidePackageDetail.package_charges}}</h3>
          </div>
          <div class="col-xs-6">
            <h3><span>Language</span> {{guidePackageDetail.languages[0]}}</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-12 guide-box">
        <div class="guide-inner-box">                
          <h2 class="heading5">Other Packages</h2>
          <div class="other-packages slider">              
            <!-- Wrapper for slides -->
            <div class="col-sm-3" *ngFor="let item of OtherPackages">
              <div class="package-box slide">
                <img *ngIf="item.package_image!=''" [src]="item.package_image" class="img-responsive" alt="Lotus Temple">
                <img *ngIf="item.package_image==''" src="../../../assets/images/other-packages3.png" class="img-responsive" alt="Lotus Temple">
                <div class="package-box-inner">
                  <h4>{{(item.tour_name.length > 10) ? (item.tour_name | slice:0:10)+'...' : (item.tour_name)}}</h4>
                  <p>Duration<span class="rate">₹ {{item.guide_charges}}</span><span class="duration">{{item.duration_hours}}</span></p>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-3">
              <div class="package-box slide">
                <img src="../../../assets/images/other-packages3.png" class="img-responsive" alt="Red Fort">
                <div class="package-box-inner">
                  <h4>Red Fort</h4>
                  <p>Duration<span class="rate">₹ 60</span><span class="duration">04 Hours</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="package-box slide">
                <img src="../../../assets/images/other-packages3.png" class="img-responsive" alt="India Gate">
                <div class="package-box-inner">
                  <h4>India Gate</h4>
                  <p>Duration<span class="rate">₹ 50</span><span class="duration">03 Hours</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="package-box slide">
                <img src="../../../assets/images/other-packages3.png" class="img-responsive" alt="Akshardham Temple">
                <div class="package-box-inner">
                  <h4>Akshardham Temple</h4>
                  <p>Duration<span class="rate">₹ 40</span><span class="duration">02 Hours</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="package-box slide">
                <img src="../../../assets/images/other-packages3.png" class="img-responsive" alt="Lotus Temple">
                <div class="package-box-inner">
                  <h4>Lotus Temple</h4>
                  <p>Duration<span class="rate">₹ 40</span><span class="duration">02 Hours</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="package-box slide">
                <img src="../../../assets/images/other-packages3.png" class="img-responsive" alt="Red Fort">
                <div class="package-box-inner">
                  <h4>Red Fort</h4>
                  <p>Duration<span class="rate">₹ 60</span><span class="duration">04 Hours</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="package-box slide">
                <img src="../../../assets/images/other-packages3.png" class="img-responsive" alt="India Gate">
                <div class="package-box-inner">
                  <h4>India Gate</h4>
                  <p>Duration<span class="rate">₹ 50</span><span class="duration">03 Hours</span></p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="package-box slide">
                <img src="../../../assets/images/other-packages3.png" class="img-responsive" alt="Akshardham Temple">
                <div class="package-box-inner">
                  <h4>Akshardham Temple</h4>
                  <p>Duration<span class="rate">₹ 40</span><span class="duration">02 Hours</span></p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Download App Modal -->
<div id="DownloadApp" class="modal popup-download-app fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header">
        <a class="close clearfix" data-dismiss="modal"><img src="{{baseImageUrl+'close-btn.png'}}" alt="X"></a>
        <h3>Download Odigos App<span></span></h3>
      </div>
      <div class="modal-body">
        <div><a href="https://itunes.apple.com/us/app/odigos-guides/id1389841153?ls=1&mt=8" target="_blank"><img src="{{baseImageUrl+'app-store.png'}}" alt="App Store" id="app-store" title="App Store" class="img-responsive" /></a>  <a href="https://play.google.com/store/apps/details?id=com.birdapps.odigostourist" target="_blank"><img src="{{baseImageUrl+'google-play.png'}}" alt="Play Store" id="play-store" title="Play Store" class="img-responsive" /></a></div>
      </div>
    </div>
  </div>
  </div>
