<header class="navbar-static-top" role="navigation" id="Home">
  <div id="appLink" class="appLink"  *ngIf="isIphone || isAndroid">
    <div>
      <a *ngIf="isIphone" href="https://itunes.apple.com/us/app/odigos-guides/id1389841153?ls=1&amp;mt=8" id="top-app-store" target="_blank">Download Our App <i class="fa fa-apple fa-lg" aria-hidden="true"></i></a>
      <a *ngIf="isAndroid" href="https://play.google.com/store/apps/details?id=com.birdapps.odigostourist" id="top-play-store" target="_blank">Download Our App <i class="fa fa-android fa-lg" aria-hidden="true"></i></a>
    </div>
    <div id="closeLink">
      <span (click)="closeDownloadMenu()"><img src="{{baseImageUrl+'cross-icon-white.png'}}" alt="close"></span>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-8 header-support"><a href="tel:+911244610688"><img src="{{baseImageUrl+'phone-icon-black.png'}}" class="img-responsive" alt="phone"> + 911244610688</a><a href="mailto:info@odigosguide.com"><img src="{{baseImageUrl+'email-icon-black.png'}}" class="img-responsive" alt="email"> info@odigosguide.com</a></div>          
    <div class="col-sm-4 logo" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" routerLink=""><img itemprop="logo" src="{{baseImageUrl+'logo.png'}}" alt="Odigos" title="Odigos Logo" class="img-responsive"></a></div>
  </div>
</header>
<section class="menu-bar clearfix">
  <div class="col-sm-2">
    <div class="navbar">
      <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" (click)="removeMenuClass()"><img src="{{baseImageUrl+'close-icon.png'}}" width="15" alt="x" class="img-responsive"></a>
        <ul class="navbar-nav">
          <li class="visible-xs"><a class="closebtnOnLink" routerLink="India-heritage-walk-festival" onclick="closeNav()" (click)="removeMenuClass()"><img src="{{baseImageUrl+'ihwf-logo.png'}}" class="img-responsive" width="63" alt="ihwf"></a></li>
          <li><a class="closebtnOnLink" routerLink = "/" onclick="closeNav()" (click)="removeMenuClass()">Home</a></li>
          <li><a class="closebtnOnLink" routerLink="/blog" (click)="removeMenuClass()">Blog</a></li>
          <li><a class="closebtnOnLink" routerLink = "/faq" onclick="closeNav()" (click)="removeMenuClass()">FAQ</a></li>
          <!-- <li><a href="#">Support</a></li> -->
          <li><a class="closebtnOnLink" routerLink = "/cancellation-policy" onclick="closeNav()" (click)="removeMenuClass()">Cancellation Policy</a></li>
          <!-- start : top link will display in side bar in mobile -->
          <li class="visible-xs"><a class="closebtnOnLink" routerLink="/tour-guides" onclick="closeNav()" (click)="removeMenuClass()">Meet Our Guides</a></li>
          <li class="visible-xs"><a class="closebtnOnLink" routerLink="/become-guide" onclick="closeNav()" (click)="removeMenuClass()">Become A Guide</a></li>
          <li class="visible-xs"><a class="closebtnOnLink" routerLink="#" class="last" data-target="#DownloadApp" data-toggle="modal" data-dismiss="modal">Login</a></li>
          <!-- end : top link will display in side bar in mobile -->
        </ul>
        <div class="social">
          <!-- <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true" rel="nofollow"></i></a> -->
          <a href="https://www.facebook.com/OdigosApp/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" rel="nofollow"></i></a><a href="https://twitter.com/Odigos_App" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.instagram.com/Odigos_app/" target="_blank" rel="nofollow"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="https://www.youtube.com/channel/UCGYK4UomSRtIMOXwmGe00jg?view_as=subscriber" target="_blank" rel="nofollow"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
      </div>
      <button class="navbar-toggler collapsed openbtn" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()" (click)="clickMenu()"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>MENU
    </div>
  </div>
  <div class="col-sm-4 search">
    <!-- <form action="" method="get">
      <input class="form-control" placeholder="SEARCH CITIES / MONUMNETS / EXPERIENCES" type="text"> 
    </form> -->
  </div>
  <div class="col-sm-6 top-link hidden-xs"><a routerLink="India-heritage-walk-festival"><img src="{{baseImageUrl+'ihwf-logo.png'}}" class="img-responsive" width="63" alt="ihwf"></a><a routerLink="/tour-guides">Meet Our Guides</a><a routerLink="/become-guide">Become A Guide</a>
    <a href="#" class="last" data-target="#DownloadApp" data-toggle="modal" data-dismiss="modal">Login</a>
  </div>
</section>

<!-- Download App Modal -->
<div id="DownloadApp" class="modal popup-download-app fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header">
        <a class="close clearfix" data-dismiss="modal"><img src="{{baseImageUrl+'close-btn.png'}}" alt="X"></a>
        <h3>Download Odigos App<span></span></h3>
      </div>
      <div class="modal-body">
        <div><a href="https://itunes.apple.com/us/app/odigos-guides/id1389841153?ls=1&mt=8" target="_blank"><img src="{{baseImageUrl+'app-store.png'}}" alt="App Store" id="app-store" title="App Store" class="img-responsive" /></a>  <a href="https://play.google.com/store/apps/details?id=com.birdapps.odigostourist" target="_blank"><img src="{{baseImageUrl+'google-play.png'}}" alt="Play Store" id="play-store" title="Play Store" class="img-responsive" /></a></div>
      </div>
    </div>
  </div>
 </div>