/*--------------------------Header--------------------------*/

/* downlaod start */
.appLink {
    font-size: 14px;
    top: -10px;
    width: 100%;
    z-index: 1;
    color: #ffffff;
    padding: 3px 0;
    position: relative;
    text-align: center;
    background: #00a5bc;
}
.appLink.close-download-bar {
   display: none !important;
}
.appLink a {
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}
.appLink img {
   width: 12px;
}
.appLink a i {
    font-size: 16px;
    padding-left: 8px;
    vertical-align: unset;
}
.appLink #closeLink {
   top: 3px;
   right: 15px;
   cursor: pointer;
   position: absolute;
}
/* end download */
header.navbar-static-top {
    z-index: 1;
    padding: 10px 0;
    background: #ffffff;
    border-bottom: 2px solid #f7fafa;
}
header.navbar-static-top .logo {
    float: left;
}
header.navbar-static-top .logo a img {
    width: 106px;
}
header.navbar-static-top.sticky {
    position: fixed;
    /*background: #18afc4;*/
    background: rgba(0, 0, 0, 0.6);
}
header.navbar-static-top .header-support {
    float: right;
    margin-top: 8px;
    text-align: right;
}
header.navbar-static-top .header-support a {
    font-size: 16px;
    color: rgba(67, 67, 67, 0.8);
    line-height: normal;
    font-weight: 500;
    margin: 0 13px;
    letter-spacing: 0.6px;
    text-decoration: none;
}
header.navbar-static-top .header-support a:hover {
    color: #18afc4;
}
header.navbar-static-top .header-support img {
    height: 18px;
}
/*@media (min-width: 768px) {
    header.navbar-static-top {
        left: 0;
        right: 0;
        position: absolute;
    }
}*/
@media (max-width: 767px) {
    header.navbar-static-top.sticky nav {
        padding: 0;
    }
    header.navbar-static-top {
        top: 0;
        left: 0;
        right: 0;
        position: static;
        min-height: 46px;
        border-bottom: none;
    }
    header.navbar-static-top .logo {
        float: none;
        text-align: center;
    }
    header.navbar-static-top .header-support {
        float: none;
        margin: 0 0 12px;
        text-align: center;
    }
    header.navbar-static-top .header-support img {
        height: 14px;        
    }
    header.navbar-static-top .header-support a {
        font-size: 12px;
        margin: 0 5px;
    }
    header.navbar-static-top .logo a {
        z-index: 1;
        position: relative;
        display: inline-block;
    }
    header.navbar-static-top .logo a img {
        width: 90px;
    }
}
@media (max-width: 480px) {
    header.navbar-static-top .header-support img {
        height: 12px;        
    }
    header.navbar-static-top .header-support a {
        font-size: 12px;
    }
}
/*--------------------------Navbar--------------------------*/
.menu-bar {
    background: #ffffff;
}
.navbar ul {
    margin: 0;
    padding: 0;
    float: none;
    list-style: none;
}
.navbar ul li {
    float: none;
    display: block;
    border-bottom: 1px solid rgba(24, 175, 196, 0.17);
}
.navbar ul li:last-child {
    border-bottom: none;
}
.navbar ul li a {
    font-size: 16px;
    color: #333333;
    line-height: normal;
    font-weight: normal;
    display: block;
    letter-spacing: 0.8px;
    text-decoration: none;
    padding: 21px 10px 21px 46px;
}
.navbar ul > li a.active,
.navbar ul > li a:hover {
    color: #18afc4;
    text-decoration: none;
}
.navbar ul > li a:focus {
    text-decoration: none;
}
.navbar .navbar-toggler {
    padding: 0;
    border: none;
    background: none;
    position: relative;
    z-index: 0 !important;
    margin: 28px 17px 28px 0;
}
.navbar .navbar-toggler .icon-bar {
    width: 22px;
    height: 2px;
    display: block;
    border-radius: 1px;
    background: #333333;
}
.navbar .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 3px;
}
.navbar {
    font-size: 13px;
    color: #333333;
    margin-bottom: 0;
    border-radius: 0;
    /* border-right: 1px solid #f7fafa; */
}
.navbar .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 2;
    height:100%;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.navbar .sidepanel .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
}
.navbar .social {
    display: block;
    margin: 20px 0 0 46px;
}
.navbar .social a {
    width: 26px;
    height: 26px;
    font-size: 13px;
    line-height: 24px;
    color: #18afc4;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    border: 1px solid #18afc4;
}
.navbar .social a:last-child {
    margin-right: 0;
}
.navbar .social a:hover i {
    color: #ffffff;
}
.navbar .social a:hover {
    background: #18afc4;
}
.search form {
    padding: 18px 10px;
}
.search form .form-control {
    font-size: 13px;
    color: #333333;
    font-weight: 300;
    line-height: normal;
    border: none;
    height: 34px;
    box-shadow: none;
    letter-spacing: 0.5px;
    padding: 0 10px 0 25px;
    background: url("../../../assets/images/search-icon.png") no-repeat left center / 15px;
}
.search form .form-control::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.48);
}
.search form .form-control:-moz-placeholder {/* FF 4-18 */
    color: rgba(51, 51, 51, 0.48);
}
.search form .form-control::-moz-placeholder {/* FF 19+ */
    color: rgba(51, 51, 51, 0.48);
}
.search form .form-control:-ms-input-placeholder {/* IE 10+ */
    color: rgba(51, 51, 51, 0.48);
}
.top-link {
    text-align: right;
}
.top-link a {
    font-size: 13px;
    color: #333333;
    font-weight: 500;
    line-height: 70px;
    margin: 0 15px;
    display: inline-block;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
}
.top-link a:hover {
    color: #18afc4;
}
.top-link a.last {
    width: 30%;
    color: #ffffff;
    text-align: center;
    margin-right: -15px;
    background: #18afc4;
}
.top-link a.last:hover {
    background: #17a2b5;
}
@media (max-width: 991px) {
    .navbar ul li a {
        font-size: 15px;
        line-height: 26px;
    }
}
@media (max-width: 820px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (max-width: 767px) {
    .navbar {
        bottom: 20px;
        left: 15px;
        z-index: 1;
        float: none;
        /* width: 100%; */
        border: none;
        min-height: auto;
        position: absolute;
    }
    .navbar .navbar-collapse {
        border-top: none;
        box-shadow: none;
    }
    .navbar ul {
        width: 100%;
        border-bottom: none;
    }
    .navbar ul li {
        display: block;
    }
    .navbar ul li.last {
        display: inline-block;
    }
    .navbar ul > li a {
        border: none !important;
        margin-bottom: 0;
        padding: 8px 10px 8px 20px;
    }
    .navbar .navbar-collapse {
        top: 64px;
        left: 0;
        right: 0;
        z-index: 1;
        position: absolute;
        border: none !important;
        background: rgba(0, 0, 0, 0.6);
    }
.navbar ul > li a.active,
    .navbar ul > li a:hover {
        /*color: #ffffff;*/
        text-decoration: none;
    }
    .navbar .social {
        margin: 20px 0 0 20px;
    }    
    .navbar .navbar-toggler {
        margin: 0px 12px 0 0;
    }
}
/* pop up css */
.popup-download-app .modal-dialog {
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
   transform: translate(-50%, -50%) !important;
   -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
   -moz-transform: translate(-50%, -50%) !important;
   -webkit-transform: translate(-50%, -50%) !important;
}
.popup-download-app .modal-header {
    border: none;
    background: rgba(24, 175, 196, 0.1);
}
.popup-download-app .modal-header h3 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    line-height: normal;
    margin: 12px 0;
}
.popup-download-app .modal-header .close {
    opacity: 1;
    margin: -26px -22px 0 0;
}
.popup-download-app .modal-header .close img {
    width: 36px;
}
.popup-download-app .modal-body {
    padding: 30px 15px;
}
.popup-download-app .modal-body img {
    margin: 0 10px;
    width: 180px;
}
@media (min-width: 768px) {
    .popup-download-app .modal-dialog {
        width: 600px;
    }
}
@media (max-width: 767px) {
    .popup-download-app .modal-header h3 {
        font-size: 18px;
        margin: 0;
    }
    .popup-download-app .modal-body img {
        width: 100px;
        margin: 0 5px;
    }
}
@media (max-width: 480px) {
    .popup-download-app .modal-dialog {
        width: 90%;
    }
    .popup-download-app .modal-body {
        padding: 30px 15px;
    }
    .popup-download-app .modal-header .close img {
        width: 25px;
    }
}