<footer>
  <div class="container footer-top">
    <div class="footer-logo" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="index.html"><img itemprop="logo" src="{{baseImageUrl+'logo-white.png'}}" title="Odigos Logo" alt="Odigos" class="img-responsive"></a></div>
    <div class="footer-support"><a href="tel:+911244610688"><img src="{{baseImageUrl+'phone-icon-white.png'}}" class="img-responsive" alt="phone"> + 911244610688</a><a href="mailto:info@odigosguide.com"><img src="{{baseImageUrl+'email-icon-white.png'}}" class="img-responsive" alt="email"> info@odigosguide.com</a></div>
    <div class="footer-links"><a routerLink="/privacy-policy">Privacy Policy</a><a routerLink="/terms-for-tourist">Terms for Tourist</a><a routerLink="/terms-for-guide">Terms for Guide</a><a routerLink="/blog">Blog</a><a routerLink="/faq">FAQ'<span class="text-lowercase">s</span></a></div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">Copyright &copy; 2018 Birdres Technologies Pvt. Ltd. <span>All rights reserved.</span></div>
        <div class="col-sm-6 footer-social">
          <!-- <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true" rel="nofollow"></i></a> -->
          <a href="https://www.facebook.com/OdigosApp/" rel="nofollow"  target="_blank"><i class="fa fa-facebook" aria-hidden="true" rel="nofollow"></i></a><a href="https://twitter.com/Odigos_App" rel="nofollow" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.instagram.com/Odigos_app/" rel="nofollow" target="_blank" rel="nofollow"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="https://www.youtube.com/channel/UCGYK4UomSRtIMOXwmGe00jg?view_as=subscriber" rel="nofollow" target="_blank" rel="nofollow"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>