.find-guides {
    padding: 30px 0 40px;
}
.setDisable{
    pointer-events: none;
}
.find-guides .container {
    overflow: auto;
    max-height: 650px;
    padding-bottom: 20px;
}
.find-guides .listing {
    margin-top: 30px;
    position: relative;
    border-radius: 4px;
    background: #ffffff;
    padding: 22px 22px 0;
    box-shadow: 0 2px 4px #e2e1e1;
}
.find-guides .certified-badge {
    right: 0;
    top: 39px;
    width: 143px;
    position: absolute;
}
.find-guides .listing-left {
    width: 14%;
    float: left;
    padding-bottom: 22px;
}
.find-guides .listing-left a {
    cursor: pointer;
    display: block;
}
.find-guides .listing-left .guide-fee {
    font-size: 18px;
    color: #38b963;
    font-weight: 500;
    line-height: normal;
    padding: 5px;
    display: block;
    margin-top: 10px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgba(206, 204, 204, 0.5);
}
.find-guides .listing-right {
    width: 82%;
    float: right;
    position: relative;
    padding-bottom: 22px;
}
.find-guides .listing-right h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 5px;
    padding-bottom: 5px;
    line-height: normal;
    border-bottom: 1px solid rgba(237, 235, 235, 0.5);
}
.find-guides .listing-right h3 a {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}
.find-guides .listing-right .shortnote {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    line-height: 1.57;
    min-height: 50px;
}
.find-guides .listing-right .shortnote span.quote {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(237, 235, 235, 0.5);
}
.find-guides .listing-right .shortnote sup i {
    font-size: 9px;
    color: #333333;
}
.find-guides .listing-right h3 a:hover {
    color: #18afc4;
}
.find-guides .listing-right h3 span {
    font-size: 14px;
    color: #18afc4;
    font-weight: normal;
    line-height: normal;
}
.find-guides .listing-right i {
    font-size: 16px;
    color: #e6e6e6;
}
.find-guides .listing-right i.rated {
    color: #fed953;
}
.find-guides .listing-right h4 {
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    margin: 15px 0 5px;
    line-height: normal;
    letter-spacing: 0.5px;
}
.find-guides .listing-right h4 span {
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
    font-weight: normal;
}
.find-guides .listing-right .time-remain {
    font-size: 12px;
    color: #f4a044;
    font-weight: 500;
    display: block;
    line-height: normal;
    margin: 5px 10px 0 0;
}
/* new added  */
.find-guides .certified-badge {
    right: 0;
    top: 33px;
    position: absolute;
 }
 .find-guides .certified-badge img {
    width: 143px;
 }
 .find-guides .certified-badge .tooltip {
    opacity: 1;
 }
 .find-guides .certified-badge::ng-deep .tooltip-arrow {
    left: auto;
    right: 10px;
    border-top-color: #f2f1f1;
 }
 .find-guides .certified-badge::ng-deep .tooltip-inner {
    font-size: 9px;
    color: #333333;
    font-weight: normal;
    line-height: 1.43;
    border-radius: 4px;
    background: #f2f1f1 !important;
    letter-spacing: 0.4px;
 }
 /* end */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .guide-detail .text-left {
        width: 50%;
    }
    .guide-detail .text-right {
        width: 100%;
        float: none;
        clear: both;
        text-align: left;
    }
    .find-guides .listing-left .guide-fee {
        font-size: 14px;
        padding: 5px;
    }
    .find-guides .listing-left {
        width: 20%;
    }
    .find-guides .listing-right {
        width: 76%;
        padding-bottom: 10px;
    }
    .find-guides .listing-right h3 {
        font-size: 14px;
    }
    .find-guides .certified-badge {
        top: 25px;
    }
    .find-guides .certified-badge img {
        width: 120px;
    }
}
@media (max-width: 991px) {
    .find-guides {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .find-guides {
        padding: 20px 0;
    }
    .find-guides .container {
        max-height: none;
    }
    .find-guides .listing {
        margin-top: 15px;
        padding: 10px 10px 0;
    }
    .find-guides .listing-right .shortnote {
        min-height: auto;
    }
}
@media (max-width: 640px) {
    .find-guides {
        font-size: 14px;
        line-height: 1.4;
    }
    .find-guides .listing-right h3 {
        font-size: 14px;
    }
    .find-guides .certified-badge {
        top: 20px;
        width: 100px;
    }
    .find-guides .listing-right i {
        font-size: 12px;
    }
    .find-guides .listing-left .guide-fee {
        font-size: 14px;
        padding: 5px;
    }
    .find-guides .listing-right h4 {
        font-size: 14px;
        margin: 10px 0 5px;
    }
    .find-guides .listing-right h4 span {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .guide-detail .text-left {
        width: 50%;
    }
    .find-guides .listing-left {
        width: 20%;
    }
    .find-guides .listing-right {
        width: 76%;
        padding-bottom: 10px;
    }
    .guide-detail .text-right {
        width: 100%;
        float: none;
        clear: both;
        text-align: left;
    }
}
.guide-details-banner {
    background: url("../../../assets/images/guide-details-banner.jpg") no-repeat center top;
    background-size: cover;
}
.guide-details-banner .layer {
    min-height: 300px;
    position: relative;
    background: rgba(0, 0, 0, 0.35);
}
@media (max-width: 1199px) {
    .guide-details-banner .layer {
        min-height: 230px;
    }
}
@media (max-width: 767px) {
    .guide-details-banner .layer {
        min-height: 180px;
    }
}